<form ng-submit="searchIndex(query)">
  <div class="input-group search">
    <div class="search-box">
      <input type="text" class="form-control" ng-model="query" placeholder="Search for index">
    </div>
    <div class="search-file">
      <select id="indexed-files" class="form-control">
      <option   selected>--select a file--</option>
      <option ng-repeat="indexedFile in allIndexedFiles"value="{{indexedFile}}">{{ indexedFile }}</option>
    </select>
    </div>
    <div class="input-group-btn search-btn">
      <button class="btn btn-default" ng-click="searchIndex(query)">Go!</button> {{ query }}
    </div>
  </div>
</form>
<div ng-repeat="data in index">
  <h3>{{ data.fileName }}</h3>
  <table class="table table-bordered">
    <thead class="thead-inverse">
      <tr>
        <th>words</th>
        <th ng-repeat="number in [] | range:data.count"> doc_{{ number + 1 }}</th>
      </tr>
    </thead>
    <tr ng-repeat="(key, values) in data.data track by $index">
      <td> {{ key }}</td>
      <td ng-repeat="number in [] | range:data.count">
        <span ng-if="values.includes(number)"> <i class="fa fa-check" aria-hidden="true"></i></span>
      </td>
    </tr>
  </table>
</div>